<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <title>Cadastrar</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class="d-flex justify-content-center align-items-center vh-100 bg-white">
        <div class="card border-0 shadow-lg p-5 text-center my-auto" style="max-width: 450px; width: 100%; border-radius: 24px;">
            <h2 class="fw-bold mb-4" style="color: #1a1e29;">Cadastrar</h2>
            <form th:action="@{/cadastrar}" th:object="${usuario}" method="post">
                
                <div class="mb-3">
                    <input type="text" th:field="*{nome}" class="form-control form-control-lg border-0 py-3 px-3" id="nome" placeholder="Nome" style="background-color: #f1f3f5; font-size: 0.95rem; border-radius: 10px;" required>
                </div>
                
                <div class="mb-3">
                    <input type="email" th:field="*{email}" class="form-control form-control-lg border-0 py-3 px-3" id="floatingInput" placeholder="E-mail" style="background-color: #f1f3f5; font-size: 0.95rem; border-radius: 10px;" required>
                </div>
                
                <div class="mb-3">
                    <input type="password" th:field="*{senha}" class="form-control form-control-lg border-0 py-3 px-3" id="floatingPassword" placeholder="Senha" style="background-color: #f1f3f5; font-size: 0.95rem; border-radius: 10px;" required>
                </div>
                
                <div class="mb-4">
                    <select th:field="*{role}" class="form-select form-select-lg border-0 py-3 px-3 text-secondary" style="background-color: #f1f3f5; font-size: 0.95rem; border-radius: 10px;" required>
                        <option value="CLIENTE">Cliente</option>
                        <option value="PROFISSIONAL">Profissional</option>
                        <option value="EMPREGADOR">Empregador</option>
                    </select>
                </div>
                
                <button type="submit" class="btn btn-success fw-bold w-100 py-3" style="border-radius: 10px; letter-spacing: 1px;">
                    CADASTRAR
                </button>

            </form>
        </div>
    </body>
</html>